.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2000;
}

.nav {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    gap: 1.5rem;
    width: 64px;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(248, 248, 248, 0.966);

}

.navopen {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    gap: 1.5rem;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(211, 233, 252, 0.966);

}

.link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    cursor: pointer;
}

.link:hover {
    color: rgb(87, 131, 253);
    /* background-color: rgb(87, 131, 253); */

}

.link.active {
    color: rgb(87, 131, 253);
    font-weight: bold;
}

.span {
    font-size: small;
}